<ion-view title="About Our College">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="contactUs" class="button button-balanced button-outline button-block  icon ion-ios-telephone"></a>
            <a ui-sref="reachUs" class="button button-calm button-outline button-block  icon ion-map"></a>
        </div>
        <div style="text-align:center;">
            <img src="img/bqRyDLTqQzeJlOzkNlRo_tkr.png" width="100%" height="auto">
        </div>
        <h3>Sri. Teegala Krishna Reddy</h3>
        <h4>(Chairman)</h4>
        <div>
            <p>TKR Educational Society was established in 2001, it is reputedly academic oriented. Sri. Teegala Krishna Reddy, the former mayor of Hyderabad and leader of masses is the Chairman of the society. These premier educational institutions are TKR
                College of Engineering and Technology established in 2002, Teegala Krishna Reddy College of Engineering established in 2005, TKR Institute of Management and Science established in 2003, and TKR College of Pharmacy established in 2007,
                in a speawling area of 30 acres. TKRCET and TKREC are affiliated to JNTU and approved by AICTE.</p>
        </div>
        <div>
            <p>Dr. T. Harinath Reddy, a Physician, is the Honorable Secretary of the TKR Educational Society and Mr. T. Amarnath Reddy, a Management graduate is the Honorable Treasurer of the Society, who are endowed with administrative and managerial skills.</p>
        </div>
        <div class="spacer" style="width: 278.75px; height: 19px;"></div>
        <div style="text-align:center;">
            <img src="img/D6U00VtRx6By7L3tL3jE_harinath.png" width="100%" height="auto">
        </div>
        <div class="spacer" style="width: 278.75px; height: 19px;"></div>
        <h3>Sri Dr. Teegala Harinath Reddy</h3>
        <h4>(Secretary)</h4>
        <div class="spacer" style="width: 278.75px; height: 16px;"></div>
        <div style="text-align:center;">
            <img src="img/IG81kGXSvWaVDYb4DFD0_amaranath.png" width="100%" height="auto">
        </div>
        <h3>Sri Teegala Amarnath Reddy</h3>
        <h4>(Treasurer)</h4>
        <div class="spacer" style="width: 278.75px; height: 16px;"></div>
        <div style="text-align:center;">
            <img src="img/5VF1tJ8wSyaYo3B90dwn_ramaswamy.png" width="100%" height="auto">
        </div>
        <h3>Dr. S.R. Ramaswamy</h3>
        <h4>(Director)</h4>
        <div class="spacer" style="width: 278.75px; height: 17px;"></div>
        <div style="text-align:center;">
            <img src="img/LDSqJUfTaKumUmu6EUwu_principal.png" width="100%" height="auto">
        </div>
        <h3>Dr. D.V. Ravi Shankar</h3>
        <h4>(Principal)</h4>
        <div class="spacer" style="width: 278.75px; height: 12px;"></div>
        <a href="#" onclick="window.open('http://tkrcet.ac.in/', '_system', 'location=yes'); return false;" class="button button-assertive button-outline button-block ">Learn More</a>
    </ion-content>
</ion-view>