<ion-view title="Civil">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/zN71vBknSPe4oTuObwEF_x-d-building-construction-image-resolution-free-198607.jpg) no-repeat center;" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Head</p>
            </ion-item>
        </ion-list>
        <div class="list card">
            <div class="item item-divider">Syllabus Copy</div>
            <div class="item item-body">
                <button class="button button-positive button-clear button-block ">1st Year</button>
                <button class="button button-positive button-clear button-block ">2-1</button>
                <button class="button button-positive button-clear button-block ">R13 Academic Regulations</button>
                <button class="button button-positive button-clear button-block ">R13 Model Question Paper</button>
            </div>
        </div>
    </ion-content>
</ion-view>