<ion-view title="Contact Us">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/t75xioITRyeuDAqUjkV8_cu11.jpg" width="100%" height="auto">
        </div>
        <h2>Address</h2>
        <div>
            <p>TKR COLLEGE OF ENGINEERING &amp; TECHNOLOGY,
                <br>Survey No.8/A, Medbowli, Meerpet, Saroor Nagar, Hyderabad, Telangana – 500097.</p>
        </div>
        <a style="display:inline-block;" href="tel:+919849477550">
            <div style="text-align:center;">
                <img src="img/ceXCWyGRvyoewtIvaWlA_callus.png" width="100%" height="auto">
            </div>
        </a>
        <div class="spacer" style="width: 278.75px; height: 22px;"></div>
        <a style="display:inline-block;" href="mailto:info@tkrcet.ac.in">
            <div style="text-align:center;">
                <img src="img/SEqCteFZTXCCidu9RwBL_send-email-button.png" width="100%" height="auto">
            </div>
        </a>
    </ion-content>
</ion-view>