<ion-view title="Departments">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <a style="display:inline-block;" ui-sref="cSE">
            <div style="text-align:center;">
                <img src="img/CwZjRHeMRtafQBcW0Tk3_CSE (1).png" width="100%" height="auto">
            </div>
        </a>
        <a style="display:inline-block;" ui-sref="civil">
            <div style="text-align:center;">
                <img src="img/xTH7eGC9SduhnlHgOAsC_CIVIL (1).png" width="100%" height="auto">
            </div>
        </a>
        <a style="display:inline-block;" ui-sref="eEE">
            <div style="text-align:center;">
                <img src="img/iZu7X0GTrSXv6nZwwqcg_EEE (1).png" width="100%" height="auto">
            </div>
        </a>
        <a style="display:inline-block;" ui-sref="eCE">
            <div style="text-align:center;">
                <img src="img/MhBLWlG9QiuYcnylTTTZ_ECE.png" width="100%" height="auto">
            </div>
        </a>
        <a style="display:inline-block;" ui-sref="iT">
            <div style="text-align:center;">
                <img src="img/BO8Uo3VZTfi9Uhw18PNC_IT (1).png" width="100%" height="auto">
            </div>
        </a>
        <a style="display:inline-block;" ui-sref="mECH">
            <div style="text-align:center;">
                <img src="img/ARB9cTeKTkOQ0k8hbjHQ_MECH (1).png" width="100%" height="auto">
            </div>
        </a>
    </ion-content>
</ion-view>