<ion-view title="Sports">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <div style="text-align:center;">
            <img src="img/dOOx7zeERPun8QVyRffS_001__1456935598_49.206.220.117.jpg" width="100%" height="auto">
        </div>
        <h1>Cricket</h1>
        <div style="text-align:center;">
            <img src="img/0zbHNeilQpikfrv0VKsu_DSC_0085.jpg" width="100%" height="auto">
        </div>
        <h1>Basket-Ball</h1>
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h1>Volley-Ball</h1>
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h1></h1>
    </ion-content>
</ion-view>