<ion-view title="TKRCET">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/KI7e6RV9SSKcbX3SxSxh_Optimized-5.jpg) no-repeat center;" class="has-header">
        <div style="text-align:center;">
            <img src="img/xz76aQYIRy2Ihj6GSrxP_2.jpg" width="100%" height="auto">
        </div>
        <div class="spacer" style="width: 278.75px; height: 6px;"></div>
        <ion-list></ion-list>
        <a ui-sref="aboutOurCollege" class="button button-energized button-block  icon-left ion-ios-lightbulb-outline">About Our College</a>
        <a ui-sref="departments" class="button button-royal button-block  icon-left ion-university">Departments</a>
        <a ui-sref="examBranch" class="button button-calm button-block  icon-left ion-clipboard">Exam Branch</a>
        <a ui-sref="news" class="button button-dark button-block  icon-left ion-android-alert">News</a>
        <a ui-sref="events" class="button button-assertive button-block  icon-left ion-android-star-half">Events</a>
        <a ui-sref="sports" class="button button-positive button-block  icon-left ion-ios-football-outline">Sports</a>
        <form class="list"></form>
        <a ui-sref="aboutTheApp" class="button button-balanced button-block  icon-left ion-ios-information">About The App</a>
        <button class="button button-light button-block  icon-left ion-android-share-alt">Spread a Word</button>
        <div class="spacer" style="width: 285px; height: 11px;"></div>
    </ion-content>
</ion-view>